body {
  background: aquamarine;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "FiraSans",Arial,Helvetica,Verdana,sans-serif;

  &.edit-mode:before {
    content: '';
    position:absolute;
    z-index: 25;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  @media (max-width: 720px) {
    padding: 0 10px 0 10px;
  }
}

.input-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;

  @media (max-width: 720px) {
    width: 100%;
  }

  input {
    width: 100%;
    margin-right: 5%;
  }
}

.notes-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 10px;
  row-gap: 10px;

  .note {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    flex-grow: 1;
    min-width: 180px;
    max-width: 250px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 5px;

    &.edited {
      position: absolute;
      max-width: none;
      width: 30%;
      left: 30%;
      z-index: 50;
      opacity: 1;

      .edit-hidden {
        display: none !important;
      }

      .edit-visible {
        display: block !important;
      }
    }

    .edit-visible {
      display: none;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      h2 {
        flex: 0 1 100%;
        margin: 0;
        display: inline;
        padding: 0;
        font-size: 14px;
      }

      .pin {
        cursor: pointer;
      }
    }

    .details {
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 14px;

      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .actions {
          margin: 10px 0 5px 0;

          span {
            cursor: pointer;
            opacity: 0.5;

            &:hover {
              opacity: 1;
            }


            &:not(:first-child) {
              margin-left: 5px;
            }
          }
        }

        .save {
          margin-top: 5px;

          .edit-save {
            padding: 5px;
            cursor: pointer;
            background-color: #328600;
            color: #fff;
          }
        }

        .created-at {
          font-size: 11px;
        }
      }
    }
  }
}
